---

- name: Install proxy ndp
  become: true
  apt:
    name: "{{ dnsmasq_ndp_package }}"
    state: present
    install_recommends: false

- name: NDP configs
  become: true
  template:
    src:  "ndppd.conf.j2"
    dest: "/etc/ndppd.conf"
  notify:
    - ndppd restart

- name: Start services ndppd
  become: true
  service:
    name:  ndppd
    state: started
    enabled: true
