---

- name: dnsmasq-systemctl-reload
  become: true
  shell: systemctl daemon-reload

- name: dnsmasq restart
  become: true
  service:
    name:  dnsmasq
    state: restarted

- name: dnsmasq reload
  become: true
  service:
    name:  dnsmasq
    state: reloaded

- name: ndppd restart
  become: true
  service:
    name:  ndppd
    state: restarted
