[Unit]
Description=dnsmasq - A lightweight DHCP and caching DNS server
Requires=network.target

[Service]
# Test the config file and refuse starting if it is not valid.
ExecStartPre=/usr/sbin/dnsmasq --test
ExecStart=/usr/sbin/dnsmasq --keep-in-foreground
Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target
