
{% set subnets = [] %}
proxy {{ ansible_facts["default_ipv6"]["interface"] }} {
{% for iface in dnsmasq_interfaces %}{% for ip in ansible_facts[iface].ipv6 %}{% if ip.address[:4] != 'fe80' and ip.prefix != '128' and ip.address != '::1' %}
{% if ip.address | ansible.utils.ipaddr('public') %}
{% set subnet = ip.address | ansible.utils.ipsubnet(ip.prefix, 0) %}
{% if subnet not in subnets %}
{% set _ = subnets.append(subnet) %}
    rule {{ subnet }} {
        auto
    }
{% endif %}{% endif %}
{% endif %}{% endfor %}{% endfor %}
}
